* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sprite {
  display: none;
  visibility: hidden;
}

/* ___ Header ___ */

.header-container {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  padding: 20px;
}

.header-title {
  width: 90%;
  margin: 0 auto 0;
  font-size: 45px;
  color: white;
  text-align: center;
}

.header-text {
  width: 90%;
  margin: 30px auto 0;
  font-size: 20px;
  color: white;
  text-align: center;
}

.button-container {
  width: 90%;
  margin: 20px auto 0;
  text-align: center;
}

.switch-lang-button {
  min-width: 120px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  color: black;
  border: none;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: 500ms;
}

.switch-lang-button:hover {
  color: white;
  background-color: black;
  box-shadow: 0px 0px 10px white;
}

/* ___ Content ___ */
.content-container {
  background-color: rgb(78, 78, 78);
}

.css-content-text {
  width: 90%;
  margin: 0 auto 0;
  padding: 40px 70px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.css-content-img {
  width: 75%;
  height: 90vh;
  margin: 0 auto 0;
}

/* ___ Footer ___ */
.footer-container {
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: row;
}

.footer-title {
  background-color: rgb(32, 32, 32);
  color: white;
  text-align: center;
}

.footer-person-card {
  width: 20%;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
  color: white;
}

.person-title {
  font-size: 20px;
  margin: 20px 0 20px;
}

.social-media-link {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  fill: white;
  border-radius: 10px;
}


.social-media-icon:hover {
  fill: black;
  box-shadow: 0px 0px 10px white;
}

/* responsive */

@media only screen and (max-width: 768px) {
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
}